@media (max-width: 640px) {
    // title
    .title {
        margin-bottom: 40px;
    }

    // Products
    .products {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item-link {
            margin-bottom: 15px;
        }
    }

    // Stories
    .stories {
        &__inner {
            gap: 40px;
        }

        &__item {
            flex-direction: column;
            gap: 0;
            text-align: center;
        }

        &__item-link {
            margin-bottom: 15px;
            min-width: auto;
        }

        &__item-img {
            max-width: 300px;
            width: 100%;
            margin: 0 auto;
        }

        &__item-text {
            line-height: 23px;
            margin-bottom: 5px;
        }
    }
}